/* Define the maximum height of the logo image */
.img-max-height {
  max-height:50px;
}

.color-nav {
  background-color: rgb(255,255,255);
}

.color-footer {
  background-color: white;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

@media only screen and (max-width: 900px) {
  .nav-card {
    margin-bottom: 10px;
  }

  .download-card {
    margin-bottom: 10px;
  }
}